* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background: #0d0530;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.margt {
  margin-top: 55vh;
}

.c-player {
  background-color: #313131;
  display: block;
  padding: 15px 5px;
  border-radius: 16px;
  /* box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8),
    inset 6px 6px 12px rgba(255, 255, 255, 0.4); */
}

.container2 > h4 {
  color: #eee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.container2 > p {
  color: #eee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.c-player > p span {
  font-weight: 400;
}

.details-title,
.ctm {
  max-width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 12px;
}

.c-player--details .details-title {
  font-size: 28px;
  color: #eee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 4px;
}

.c-player--details .details-artist {
  font-size: 20px;
  color: #eee;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),
    -2px -2px 4px rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-bottom: 15px;
}

.c-player--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.c-player--controls .play-btn {
  display: flex;
  margin: 0 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #4656f0;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ff2842;
  font-size: 18px;
}

.container2 {
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 10px 50px;
  margin-top: 10px;
  box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
}
